/* path: static/css/style.css */
@import url("_fonts.css");
@import url("_variables.css");
@import url("_global.css");

@import url("blocks/_page.css");
@import url("blocks/_header.css");
@import url("blocks/_alert.css");
@import url("blocks/_card.css");
@import url("blocks/_form.css");
@import url("blocks/_profile.css");
@import url("blocks/_modal.css");
@import url("blocks/_table.css");
@import url("blocks/_matcher.css");

@import url("blocks/_grid.css");
@import url("blocks/_home.css");
@import url("blocks/_admin.css");
@import url("blocks/_review.css");
