<!-- path: templates/core/login.html -->
{% extends "core/base.html" %}
{% block title %}Вход — fsnb-fastapi{% endblock %}

{% block content %}
  <h2 class="title">Вход</h2>

  {% if alert %}
    <div class="alert alert--{{ alert.kind }}">{{ alert.text }}</div>
  {% endif %}

  <form class="form" method="post" action="{{ request.url_for('login_post_html') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf }}" />

    <div class="form__row">
      <label class="form__label">E-mail</label>
      <div class="form__control">
        <input class="form__input" type="email" name="email" required placeholder="email@domain.tld" />
      </div>
    </div>

    <div class="form__row">
      <label class="form__label">Пароль</label>
      <div class="form__control">
        <input class="form__input" type="password" name="password" required placeholder="********" />
      </div>
    </div>

    <div class="form__row">
      <label class="form__label">Капча: {{ a }} + {{ b }} = ?</label>
      <div class="form__control">
        <input class="form__input" type="number" name="captcha" required />
      </div>
    </div>

    <div class="form__actions">
      <button class="btn btn--primary" type="submit">Войти</button>
    </div>
  </form>
{% endblock %}
